.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 150px;
    background-color: whitesmoke;
    padding-bottom: 15px;  
    width: 600px;  
}
.header{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 9px;
    width: 100px;
    margin-top: 30px;
    }

.text{
    color: rgb(19, 21, 28);
    font-size: 25px;
    font-weight: 700;

    }


.underline{
    width: 84px;
    height: 5px;
    background:rgb(235, 25, 42);
    border-radius: 9px;

}

.inputs{
    display: flex;
    margin-top: 26px;
    align-items: center;
    flex-direction: column;
    gap: 25px;

}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 225px;
    height: 25px;
    background:whitesmoke;
    border-radius:6px;
                   
}
.input input{
    height: 30px;
    width: 200px;
    background: transparent;
    border-radius: 7px;
    border-color: black;
    color:black;
    font-size: 19px;
    
}  

.forgot-password{
    padding-left: 138px;
    margin-top: 15px;
    color:black;
    font-size: 17px;
}

.forgot-password span{
    color: rgb(17, 211, 201);
    cursor: pointer;

}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    color:black;
    background:darkorange;
    border-radius:30px;
    font-size: 17px;
    font-weight: 750;
    cursor: pointer;
    
    
}
